<!-- homepage for the user to access all of the posts -->
<ol class="post-list">
    {{#each posts as |post|}}
    <li>
        <div>
           {{>post-info post}}
        </div>       
    </li>
    {{/each}}
</ol>