* {
  box-sizing: border-box;
}

body,html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Martel", serif;
  color: black;
  background-color: gainsboro;
}

a {
  text-decoration: none;
  color: rgb(27, 83, 27);
  font-weight: 600;
  margin: 10px;
}

form label {
  display: block;
}

p {
  font-weight: 400px;
  font-size: 15px;
}

button {
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  padding: 1%;
  font-weight: bold;
 }

 .create-btn:hover{
  color: #3486eb
 }

 button:hover{
  background-color: #3486eb;
 }

 form > div {
  margin-bottom: 2%;
 }

 form label {
  display: block;
 }

 textarea {
  min-width: 80%;
  min-height: 100px;
 }

 textarea, input {
  padding: 1%;
  border-radius: 5px;

 }
.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}

header h1 {
  font-weight: bold;
  font-size: 25pt;
  color: blue;
  font: optional;
}

main {
  flex: 1;
  padding: 2% 4%;
}

nav {
  font-size: 18pt;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: rgb(27, 83, 27);
  font-size: 100%;
  font-weight: bold;
  transition: color 0.1s;
  margin-left: 16px;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Martel", serif;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}
.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Martel", serif;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: 0.5%;
  opacity: 0.6;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}
